<a href="https://colab.research.google.com/github/KhotShraddha27/Machine_Learning/blob/main/Final_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.impute import SimpleImputer

In [2]:
data={
    'Age':[30,15,65,None,23],
    'Salary':[35500,32000,None,45000,78000],
    'Department':['HR','IT','IT','HR','HR'],
    'Purchased':['Yes','No','No','Yes','Yes'],
    'Gender':['Female','Female','Male','Female','Male']
}

df=pd.DataFrame(data)
print("Before preprocessing dataset:\n",df)

Before preprocessing dataset:
     Age   Salary Department Purchased  Gender
0  30.0  35500.0         HR       Yes  Female
1  15.0  32000.0         IT        No  Female
2  65.0      NaN         IT        No    Male
3   NaN  45000.0         HR       Yes  Female
4  23.0  78000.0         HR       Yes    Male

In [3]:
imputer=SimpleImputer(strategy='mean')
df[['Age','Salary']]=imputer.fit_transform(df[['Age','Salary']])
print("After handling missing values:\n",df)

After handling missing values:
      Age   Salary Department Purchased  Gender
0  30.00  35500.0         HR       Yes  Female
1  15.00  32000.0         IT        No  Female
2  65.00  47625.0         IT        No    Male
3  33.25  45000.0         HR       Yes  Female
4  23.00  78000.0         HR       Yes    Male

In [6]:
label_encoder=LabelEncoder()
df['Department']=label_encoder.fit_transform(df['Department'])
df['Purchased']=label_encoder.fit_transform(df['Purchased'])
df['Gender']=label_encoder.fit_transform(df['Gender'])


scaler=StandardScaler()
df[['Age','Salary']]=scaler.fit_transform(df[['Age','Salary']])

In [7]:
scaler=StandardScaler()
df[['Age','Salary']]=scaler.fit_transform(df[['Age','Salary']])

In [8]:

x=df.drop('Purchased',axis=1)
y=df['Purchased']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [10]:
print("\nPreprocessed Features (X_train):\n", X_train)
print("\nTarget (y_train):\n", y_train)

Preprocessed Features (X_train):
             Age    Salary  Department  Gender
4 -6.005046e-01  1.868965           0       1
2  1.860100e+00  0.000000           1       1
0 -1.904039e-01 -0.746048           0       0
3  2.220446e-17 -0.161516           0       0

Target (y_train):
 4    1
2    0
0    1
3    1
Name: Purchased, dtype: int64